################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/project-screen/copilot-chat/5bd34b31
/.vs/project-screen/FileContentIndex
/.vs/project-screen/config
/.vs/project-screen/v17
/.vs
